<!DOCTYPE html>
<html>
  <head>
    <title>TrendyCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/d2e1dc01a3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="<%= image_url('tent.png') %>" />
  </head>
  <script>
    window.banner = "<%= image_url('banner-image.jpg') %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
